{% extends 'shared/base.html' %}

{% load static %}

{% block aditional_styles %}
    <link rel="stylesheet" href="{% static 'form_styles.css' %}">
{% endblock %}

{% block aditional_scripts %}
    <script src="{% static 'image_input_script.js' %}" type="module"></script>
{% endblock %}

{% block main_content %}
    <h2 id="browser_title" class="centered page_title">Profile Settings</h2>
    {% if form.errors %}
        <div class="centered form-errors">
            There is something wrong with your input data!
            <br>
            Please check your form and try again!
        </div>
    {% endif %}

    <form method="post" enctype="multipart/form-data" class="custom-form">
        {% csrf_token %}

        <div class="block centered">
            <label class="sub_title" for="id_username">Username:</label>
            {{ form.username }}
        </div>
        <div class="block centered">
            <label class="sub_title" for="id_description">Description:</label>
            {{ form.description }}
        </div>
        <div class="block centered file-input">
            <label for="id_avatar_image" class="sub_title centered">
                Select an avatar image
                <p class="file-name">*Select an image for profile's avatar</p>
            </label>
            {{ form.avatar_image }}
        </div>
        <button id="register-button" class="centered main-button">Save</button>
    </form>
{% endblock %}