{% extends 'shared/base.html' %}

{% load static %}

{% block aditional_styles %}
    <link rel="stylesheet" href="{% static 'pagination.css' %}">
{% endblock %}

{% block main_content %}
    <h2 id="browser_title" class="centered page_title">Beat Browser</h2>

    <a class="centered main-button create-button" id="create-link" href="{% url 'piano page' %}">Create your own music!</a>

    <form class="search_form" method="get">
        <input class="search_field centered main-button" type="text" name="beat_name" placeholder="Search by name...">
        <input class="search_button centered main-button" type="submit" value="Search">
    </form>

    {% if beats %}
        {% include 'shared/pagination.html' %}
    {% endif %}
    <section id="post-container">
        {% if beats %}
            {% for beat in beats %}
                <article class="centered beat-post">
                    <a href="{% url 'play beat' beat.pk %}" class="beat-play"></a>
                    <a class="beat-info" href="{% url 'beat details' beat.pk %}">{{ beat.title|truncatechars:15 }}</a>
                    {% if beat.cover_image %}
                        <img class="beat-browser-image" src="{{ beat.cover_image.url }}">
                    {% else %}
                        <img class="beat-browser-image" src="{% static 'default-cover.png' %}">
                    {% endif %}
                </article>
            {% endfor %}
            {% include 'shared/footer.html' %}
        {% else %}
            <h1  class="sub_title" style="width: 700px; left: 31.5%; font-family: 'Pacifico', cursive; text-align: center; margin-bottom: 80px;" href="{% url 'piano page' %}">There are no beats added yet!</h1>
            {% include 'shared/footer.html' %}
        {% endif %}

    </section>
{% endblock %}