{% extends 'shared/base.html' %}

{% load static %}

{% block main_content %}
    <h2 id="browser_title" class="centered page_title">Beat Browser</h2>

    <a class="centered main-button create-button" id="create-link" href="{% url 'piano page' %}">Create your own
        beat!</a>

    <form class="search_form">
        <input class="search_field centered main-button" type="text" placeholder="Enter beat name here...">
        <input class="search_button centered main-button" type="submit" value="Search by beat name">
    </form>

    <section id="post-container">
        {% if beats %}
            {% for beat in beats %}

                <article class="centered beat-post">
                    <a href="{% url 'play beat' beat.pk %}" class="beat-play"></a>
                    <a class="beat-info" href="{% url 'beat details' beat.pk %}">{{ beat.title|truncatechars:15 }}</a>
                    {% if beat.cover_image %}
                        <img class="beat-browser-image" src="{{ beat.cover_image.url }}">
                    {% else %}
                        <img class="beat-browser-image" src="{% static 'default-cover.png' %}">
                    {% endif %}
                </article>

            {% endfor %}
        {% else %}
            <a  class="main-button create-button" style="width: 700px; margin-left: 500px;" href="{% url 'piano page' %}">There are no beats added yet!
                Click to add!</a>
        {% endif %}

    </section>
{% endblock %}