{% extends 'shared/base.html' %}

{% load static %}

{% block aditional_styles %}
    <link rel="stylesheet" href="{% static 'beat_details.css' %}">
{% endblock %}

{% block main_content %}
    <div id="beat-play-holder" class="horizontally-aligned"><a href="{% url 'play beat' beat.pk %}"
                                                               class="beat-play details-beat-player"></a>&nbsp;
    </div>
    <h2 id="beat-title" class="sub_title horizontally-aligned">{{ beat.title }}</h2>

    <div class="beat-info">
        <p class="description-holder">
            {{ beat.description }}
        </p>

        <div class="cover-info">
            {% if beat.cover_image %}
                <img class="beat-cover-image" src="{{ beat.cover_image.url }}">
            {% else %}
                <img class="beat-cover-image" src="{% static 'default-cover.png' %}">
            {% endif %}
            <div class="played-times">{{ beat.beatplay_set.count }} plays</div>
            <div class="liked-times">{{ beat.like_set.count }} likes</div>
        </div>
    </div>

    <div class="owner-info">
        {% if profile.avatar_image %}
            <img class="profile-image owner-image" src="{{ profile.avatar_image.url }}" alt="profile-picture">
        {% else %}
            <img class="profile-image owner-image" src="{% static 'default-image.jpg' %}" alt="profile-picture">
        {% endif %}
        <div class="sub_title owner-name comment-owner-name"><a href="{% url 'profile page' profile.pk %}"
                                                                class="user-profile-link">{{ profile.username }}</a>
        </div>
    </div>

    <div class="feed-back-btns">
        {% if is_owner %}
            <a href="{% url 'edit beat' beat.pk %}" class="main-button like-btn">Edit</a>
            <a href="{% url 'delete beat' beat.pk %}" class="main-button like-btn">Delete</a>
        {% else %}
            <a href="{% url 'like beat' beat.pk %}" class="main-button like-btn">
                {% if not is_liked %}
                    Like
                {% else %}
                    Dislike
                {% endif %}
            </a>
            <a href="#" class="main-button feed-back-btn">Report</a>
        {% endif %}
        <a class="hidden-tag">&nbsp;</a>
    </div>

    <h5 class="comments-title">Comments</h5>

    <div class="comment-container">
        <form action="{% url 'comment beat' beat.pk %}" method="post" enctype="multipart/form-data"
              class="comments-form">
            {% csrf_token %}

            <input class="main-button" type="text" name="content" placeholder="Post a comment..." maxlength="85">
            <button id="post-comment-button" class="main-button">Post Comment</button>
        </form>

        <div class="comments">
            {% if comments %}
                {% for comment in comments %}
                    <div class="comment">
                        <div class="commenter-info">
                            <img class="profile-image owner-image comment-owner-image"
                                    {% if comment.commenter_info.avatar_image %}
                                 src="{{ comment.commenter_info.avatar_image.url }}"
                                    {% else %}
                                 src="{% static 'default-image.jpg' %}"
                                    {% endif %}
                                 alt="profile-picture">
                            <div class="sub_title owner-name comment-owner-name"><a
                                    href="{% url 'profile page' comment.commenter_info.pk %}"
                                    style="text-decoration: none; color: inherit;">{{ comment.commenter_info.username }}</a>
                            </div>
                        </div>

                        <div class="content-holder">
                            <p class="comment-content">{{ comment.content }}</p>
                            <p class="hidden-comment-tag">&nbsp;</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h1 class="centered profile_sub_title sub_title" style="margin-top: 40px;"> Not yet created... </h1>
            {% endif %}

        </div>
    </div>
{% endblock %}