@keyframes footer-pulse {
    0% {
        color: #ec6868;
    }
    25% {
        color: #a83232;
    }
    50% {
        color: #941616;
    }
}

footer {
    background-color: #1b1a1a;
    padding: 20px;
    margin: 0;
    margin-top: auto;
}

footer * {
    margin: 0;
    display: inline-block;
}

footer a {

    color: #FBE5E5;

    text-decoration: none;
    font-size: 30px;
    display: block;

}

footer a:hover {
    animation: 1s ease 0s footer-pulse;
    color: #941616;

}

.footer-links {
    margin-left: 50px;
}

footer h1.sub_title {
    margin: 0;
    padding: 0;

    display: inline;

    left: 25%;
    bottom: 10%;
}

.bug-report {
    color: #FBE5E5;

    font-size: 20px;

    margin-top: 20px;

    position: absolute;
    right: 1%;
}
