/*
*, *::before, *::after {
    box-sizing: border-box;
}
*/

/*
body {
    background-color: #143F7B;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/
.buttons {
    top: 50px;
}

.btn {
    --hue: 0;
    --saturation: 70%;

    font-size: 35px;
    font-family: "Lobster", cursive;
    padding: .5rem 1rem;
    border: none;
    color: #FBE5E5;
    background-color: hsl(var(--hue), var(--saturation), 50%);
    text-decoration: none;
    cursor: pointer;
}

.btn:hover {
    background-color: hsl(var(--hue), var(--saturation), 30%);
}

.record-button {
    --hue: 0;
    --saturation: 0%;
}

.record-button.active {
    --saturation: 100%;
}

.piano {
    margin-top: 7%;
    display: flex;
    justify-content: center;
}

.key {
    height: calc(var(--width) * 4);
    width: var(--width);
}

.white {
    --width: 75px;
    background-color: white;
    border: 1px solid #333;
}

.white.active {
    background-color: #ccc;
}

.black {
    --width: 40px;
    background-color: black;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
}

.black.active {
    background-color: #333;
}
