<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Omega Beats</title>

        {% load static %}
        <base href="/">

        <!-- Favicon Config -->
        <link rel="icon" type="image/png" href="{% static 'favicon-16x16.png' %}" sizes="16x16">
        <link rel="icon" type="image/png" href="{% static 'favicon-32x32.png' %}" sizes="32x32">

        <!-- Custom Css Styling-->
        <link rel="stylesheet" href={% static 'main.css' %}>
        <link rel="stylesheet" href={% static 'browser.css' %}>
        <link rel="stylesheet" href={% static 'navigation.css' %}>
        <link rel="stylesheet" href={% static 'profile.css' %}>
        <link rel="stylesheet" href={% static 'footer.css' %}>

        {% block aditional_styles %}
        {% endblock %}

        <!-- Font Family Links -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&family=Patua+One&family=Roboto:wght@900&display=swap" rel="stylesheet">

        <!-- JS Scripts -->
        {% block aditional_scripts %}
        {% endblock %}

    </head>
    <body>

        <!-- navigation-->
        <ul>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn sub_title">Links</a>
                <div class="dropdown-content sub_title">
                <a href="{% url 'home page' %}">Home</a>
                <a href="{% url 'browser page' %}">Browser</a>
                {% if not user.is_authenticated %}
                    <!-- login and register -->
                    <a href="{% url 'login user' %}">Login</a>
                    <a href="{% url 'register user' %}">Register</a>
                {% else %}
                    <!-- or profile and logout -->
                    <a href="{% url 'profile page' user.pk %}">Profile</a>
                    <a href="{% url 'logout user' %}">Logout</a>
                {% endif %}
                </div>
            </li>
        </ul>

        <!-- main content -->
        <main id="main-content">
            {% block main_content %}
            {% endblock %}
        </main>

    </body>
</html>